src/main/java/mynewnewpackage/CIupdRefreshClientV11.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CIupdRefreshClientV1" targetNamespace="http://CI.absa.co.za/CIupdRefreshClientV1/Services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://CI.absa.co.za/CIupdRefreshClientV1/schema" xmlns:s1="http://CI.absa.co.za/CIupdRefreshClientV1/Services" xmlns:s2="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://CI.absa.co.za/CIupdRefreshClientV1/schema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://CI.absa.co.za/CIupdRefreshClientV1/schema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="CIupdRefreshClientV1">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="nbsapdpi">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="channel">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="12"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="application">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="12"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="trace">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="1"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="nbsmsgi">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="msgLanguage">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="3"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="msgTarget">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="0" name="finalMsgId">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element minOccurs="0" name="finalMsgClass">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="8"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="finalMsgCode">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="4"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="cip042i">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="tellerEmpolyee">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="7"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="branch" type="xsd:integer"/>
              <xsd:element name="clientCode">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="10"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="idType" type="xsd:nonNegativeInteger"/>
              <xsd:element name="idNumber">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="13"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="confirmId">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="1"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="confirmAddress">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="1"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="addrLine1">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="0" name="addrLine2">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="addrSuburb">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="addrTown">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="addrPostalCode" type="xsd:integer"/>
              <xsd:element name="addrCountry">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="5"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
    <xsd:element name="CIupdRefreshClientV1Response">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="nbsapdpo">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="0" name="version">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="7"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="0" name="returnCode" type="xsd:nonNegativeInteger"/>
              <xsd:element minOccurs="0" name="reasonCode" type="xsd:nonNegativeInteger"/>
              <xsd:element minOccurs="0" name="serviceVersion">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="7"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="0" name="echoKey">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="20"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" name="nbsmsgo3">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="0" name="version">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="7"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="0" name="sysErrTxt">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="700"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="0" name="nbrUserMsgs" type="xsd:nonNegativeInteger"/>
              <xsd:element minOccurs="0" name="nbrUserErrs" type="xsd:nonNegativeInteger"/>
              <xsd:element maxOccurs="5" minOccurs="0" name="msgEntry">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element minOccurs="0" name="msgClass">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="8"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="msgCode">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="4"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="msgErrInd">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="1"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="msgTxt">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="300"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" name="cip042o">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="0" name="rcode" type="xsd:nonNegativeInteger"/>
              <xsd:element minOccurs="0" name="clientCode">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="10"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="0" name="message">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Response">
    <wsdl:part name="body" element="sch:CIupdRefreshClientV1Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Request">
    <wsdl:part name="body" element="sch:CIupdRefreshClientV1">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CIupdRefreshClientV1Port">
    <wsdl:operation name="CIupdRefreshClientV1">
      <wsdl:input message="s1:Request">
    </wsdl:input>
      <wsdl:output message="s1:Response">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CIupdRefreshClientV1SOAP" type="s1:CIupdRefreshClientV1Port">
    <s2:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CIupdRefreshClientV1">
      <s2:operation soapAction="CIupdRefreshClientV1"/>
      <wsdl:input>
        <s2:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <s2:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
